body {background-color: rgb(200, 209, 200);}
h1 {
    text-decoration: underline;
    font-weight: 500;
    background-color: lightseagreen;
    text-decoration-color: white;
    text-align: right;
}

h2 {
    font-weight: bolder;
    text-align: center;
}
h3 {
    text-align: center;
}